<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
	<div class="container-fluid">
		<div class="header-body">
			<!-- Card stats -->
			<div class="row">
				<div class="col-xl-3 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
									<span class="h2 font-weight-bold mb-0"> {{ newUsersCount }}</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-warning text-white rounded-circle shadow">
										<i class="fas fa-chart-pie"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<span class="text-nowrap">This month</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
									<span class="h2 font-weight-bold mb-0">{{ todayPurchaseCount }}</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
										<i class="fas fa-users"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> {{ yesterdayPurchaseCount }}</span>
								<span class="text-nowrap">Since yesterday</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
									<span class="h2 font-weight-bold mb-0">{{ performanceComparison?.performancePercentage }} %</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-blue text-white rounded-circle shadow">
										<i class="fas fa-angle-double-up"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> {{ performanceComparison?.lastMonthCount }}</span>
								<span class="text-nowrap">Last Month Sale</span>
									&emsp;	&ensp; &nbsp; &nbsp;
								<span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> {{ performanceComparison?.currentMonthCount }}</span>
								<span class="text-nowrap">Current Month Sale</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Top 3 Most Bought Items</h5>
									<span class="h2 font-weight-bold mb-0">1. Item: {{ mostBoughtItem[0]?.item_name }} - Sold: {{ mostBoughtItem[0]?.count }} pcs</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-green text-white rounded-circle shadow">
										<i class="fas fa-shopping-bag"></i>
									</div>
								</div>
							</div>
							<p class="mt-0 mb-0 text-muted text-sm">
								<span class="text-nowrap">2. Item: {{ mostBoughtItem[1]?.item_name }} - Sold: {{ mostBoughtItem[1]?.count }} pcs</span>
								<span class="text-nowrap">3. Item: {{ mostBoughtItem[2]?.item_name }} - Sold: {{ mostBoughtItem[2]?.count }} pcs</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt--7">
	<div class="row">
		<div class="col-xl-8 mb-5 mb-xl-0">
			<div class="card bg-gradient-default shadow">
				<div class="card-header bg-transparent">
					<div class="row align-items-center">
						<div class="col">
							<h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
							<h2 class="text-white mb-0">Sales Value</h2>
						</div>
					</div>
				</div>
				<div class="card-body">
					<!-- Chart -->
					<div class="chart">
						<canvas id="chart-sales" class="chart-canvas"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 mb-5 mb-xl-0">
			<div class="card shadow">
				<div class="card-header bg-transparent">
					<div class="row align-items-center">
						<div class="col">
							<h6 class="text-uppercase ls-1 mb-1">Performance</h6>
							<h2 class="mb-0">Total Orders</h2>
						</div>
					</div>
				</div>
				<div class="card-body">
					<!-- Chart -->
					<div class="chart">
						<canvas id="chart-orders" class="chart-canvas"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>