<!-- item.component.html -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-0 text-white">Item List by Category</h3>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button type="button" class="btn btn-warning mb-0 ms-auto" (click)="navigateToForm()">Add Item</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Category</th>
                                <th scope="col">Number of Items per Category</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemsByCategory">
                                <td>{{ item.category ?? 'Uncategorized' }}</td>
                                <td>{{ item.total }}</td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)" (click)="viewItems(item.category)">View Items</a>
                                            <!-- Optionally add an Edit button to navigate to edit form -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="itemsByCategory.length === 0">
                                <td colspan="3">NO DATA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
