<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
	<!-- Mask -->
	<span class="mask bg-gradient-primary opacity-8"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
		</div>
	</div>
</div>
<div class="container-fluid mt--7">
	<div class="row">
		<div class="col-xl order-xl-1">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Customer List for the Item {{ code }}</h3>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="card shadow">
								<div class="table-responsive">
									<table class="table align-items-center table-flush">
										<thead class="thead-light">
											<tr>
												<th scope="col">Item Code</th>
												<th scope="col">Ordered By</th>
												<th scope="col">Place</th>
												<th scope="col"></th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let item of minerList">
												<td>{{ item.item_code }}</td>
												<td>
													<div class="d-flex align-items-center">
														<div class="ms-3">
															<p class="fw-bold mb-1">{{ item.first_name }} {{ item.last_name }}</p>
															<p class="text-muted mb-0">{{ item.ordered_by }}</p>
														</div>
													</div>
												</td>
												<td>{{ item.index }}</td>
												<td class="text-right">
													<div ngbDropdown placement="bottom-right">
														<a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
															<i class="fas fa-ellipsis-v"></i>
														</a>
														<div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
															<a class="dropdown-item" href="javascript:void(0)" (click)="generateQrCode(item)">QR for First Miner</a>
														</div>
													</div>
												</td>
											</tr>
											<tr *ngIf="(minerList?.length || 0) === 0">
												<td colspan="4">NO DATA</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>