<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-0 text-white">Sub Category List</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sub_category of sub_categories">
                                <td>{{ sub_category.category_name }}</td>
                            </tr>
                            <tr *ngIf="sub_categories.length ===0">
                                <td>NO DATA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
